---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Divider from "../components/Divider.astro";
import Link from "../components/Link.astro";

import portImageUbi from "../images/port-web-ubi.png";
import portImageMpp from "../images/port-web-mpp.png";
import portImageTA from "../images/port-web-ta.png";

import portImageCru from "../images/port-graphic-cru.jpg";
import portImageCons from "../images/port-graphic-cons.jpg";
import portImageBc from "../images/port-graphic-bc.jpg";
import { fade } from "astro:transitions";
---

<Layout
  title="Creative and versatile UI Designer/Developer _ "
  subTitle="with 20 years experience on a variety of digital design projects including marketing websites, SASS apps, graphic design and design for print."
  hasHeaderImg={false}
>
  <main>
    <section transition:animate={fade({ duration: "0.4s" })}>
      <Divider variant="section" sectionNumber="01" heading="What I do" />

      <p>
        I’m a passionate and creative web/ui designer/developer with a keen eye
        for design. Coming from a Web design background gives great flexibility,
        taking designs from ideation through to development.
      </p>
      <section>
        <Divider
          variant="subSection"
          sectionNumber="01.1"
          heading="Web design and development"
        />
        <ul>
          <li>Responsive desktop and mobile design</li>
          <li>Colour</li>
          <li>Typography and Layouts</li>
          <li>Semantic HTML coding</li>
          <li>SASS & CSS</li>
          <li>JS React</li>
        </ul>
      </section>
      <section>
        <Divider
          variant="subSection"
          sectionNumber="01.2"
          heading="UX/UI Design"
        />
        <ul>
          <li>Design thinking</li>
          <li>Ideation</li>
          <li>Prototyping</li>
          <li>Semantic HTML coding</li>
          <li>Design systems</li>
          <li>Accessibility</li>
        </ul>
      </section>
      <section>
        <Divider
          variant="subSection"
          sectionNumber="01.3"
          heading="Graphic Design"
        />
        <ul>
          <li>Flyer & Poster design</li>
          <li>Logos</li>
          <li>Web banners</li>
          <li>Brochure design</li>
        </ul>
      </section>
    </section>
    <section>
      <Divider variant="section" sectionNumber="02" heading="Work" />
      <section>
        <Divider
          variant="subSection"
          sectionNumber="02.1"
          heading="Web dev and UI design"
        />

        <ul role="list" class="link-card-grid">
          <Card
            title="ubisend"
            body="UI/UX DESIGN & DEVELOPMENT"
            href="/work/web-ubisend"
            imgSrc={portImageUbi}
          />
          <Card
            title="Mypinpad"
            body="UI/UX DESIGN & DEVELOPMENT"
            href="#"
            imgSrc={portImageMpp}
          />
          <Card
            title="TextAnywhere"
            body="UI/UX DESIGN & DEVELOPMENT"
            href="#"
            imgSrc={portImageTA}
          />
        </ul>
        <Link href="dsds" text="Other work" />
      </section>
      <section>
        <Divider
          variant="subSection"
          sectionNumber="02.1"
          heading="Graphic design"
        />
        <ul role="list" class="link-card-grid">
          <Card
            title="The Crucible"
            body="Poster design"
            href="#"
            imgSrc={portImageCru}
          />
          <Card
            title="Constellations"
            body="Poster design"
            href="#"
            imgSrc={portImageCons}
          />
          <Card
            title="Breathing Corpses"
            body="Poster design"
            href="#"
            imgSrc={portImageBc}
          />
        </ul>

        <Link href="dsds" text="Other work" />
      </section>
    </section>
    <Divider variant="section" sectionNumber="03" heading="Experince" />
    <section>
      <table>
        <tr><td>ubisend</td><td>UI/UX Developer</td><td>Oct 2022 -</td></tr>
        <tr
          ><td>mypinpad</td><td>UI/UX Developer</td><td
            >Nov 2020 - Oct 2022
          </td></tr
        >
        <tr
          ><td>TextAnywhere</td><td>Web Designer</td><td
            >Aug 2007 - July 2020</td
          ></tr
        >
      </table>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1248px;
    max-width: calc(100% - 2rem);

    font-size: 1.5rem;
    line-height: 1.6;
  }

  ul {
    list-style-type: none;
    margin-bottom: 1rem;
  }

  li:before {
    content: "+";
    margin-right: 4px;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
    margin-bottom: 1rem;
  }

  table {
    width: 100%;
  }
  td {
    border-bottom: 1px solid black;
    vertical-align: top;
  }
  section {
    margin: 3rem 0;
  }
  /* 

  section p {
    width: 50%;
  } */

  /* .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
   */
</style>
