---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Divider from "../components/Divider.astro";
import Link from "../components/Link.astro";

import portImageUbi from "../images/portfolio/dev/port-web-ubi.png";
import portImageMpp from "../images/portfolio/dev/port-web-mpp.png";
import portImageTA from "../images/portfolio/dev/port-web-ta.png";

import portImageCru from "../images/portfolio/graphic/port-graphic-cru.jpg";
import portImageCons from "../images/portfolio/graphic/port-graphic-cons.jpg";
import portImageBc from "../images/portfolio/graphic/port-graphic-bc.jpg";
import { fade } from "astro:transitions";
---

<Layout
  title="Creative and versatile UI Designer/Developer _ "
  subTitle="with 20 years experience on a variety of digital design projects including marketing websites, SASS apps, graphic design and design for print."
  hasHeaderImg={true}
  variant="vertical"
  headerImgSrc={portImageUbi}>
  <main>
    <section transition:animate={fade({ duration: "0.4s" })}>
      <Divider
        variant="section"
        sectionNumber="01"
        heading="What I do"
      />
      <div class="content">
        <p>
          I am a creative and versatile UI/UX Designer/Developer with 20 years
          experience on a variety of digital design projects including <span
            class="has-text-weight-bold"
            >marketing websites, accessible web apps and scaleable design
            systems</span
          >.
        </p>
        <p>
          My <span class="has-text-weight-bold">multi-disciplined skillset</span
          > gives me the advantage of being able to take a project from ideation,
          through design, prototyping and development. I am equally at home in <span
            class="has-text-weight-bold">Figma</span
          >, designing and prototyping as I am developing functional, semantic
          <span class="has-text-weight-bold">React</span> web components.
        </p>
        <p>
          I always work to a high standard and pride myself on being
          approachable, motivated and enthusiastic, with an excellent attention
          to detail.
        </p>
        <p>
          I am currenty working at ubisend, as a <span
            class="has-text-weight-bold">UX/UI Developer</span
          >, working on their AI chatbot platform.
        </p>
      </div>
      <section>
        <Divider
          variant="subSection"
          sectionNumber="01.1"
          heading="Web design and development"
        />
        <ul class="skills-list">
          <li>Responsive desktop and mobile UI design</li>
          <li>WCAG Accessibility</li>
          <li>Animation</li>
          <li>Semantic HTML</li>
          <li>SASS & CSS</li>
          <li>Wordpress</li>
          <li>React & JS</li>
          <li>JS Tests</li>
        </ul>
      </section>
      <section>
        <Divider
          variant="subSection"
          sectionNumber="01.2"
          heading="UX/UI Design"
        />
        <ul class="skills-list">
          <li>Design thinking</li>
          <li>Typography and Layouts</li>
          <li>Ideation</li>
          <li>Prototyping</li>
          <li>Semantic HTML coding</li>
          <li>Design systems</li>
          <li>Colour Theory</li>
          <li>Accessibility</li>
        </ul>
      </section>
      <section>
        <Divider
          variant="subSection"
          sectionNumber="01.3"
          heading="Graphic Design"
        />
        <ul class="skills-list">
          <li>Flyer & Poster design</li>
          <li>Logos</li>
          <li>Web banners</li>
          <li>Brochure design</li>
        </ul>
      </section>
    </section>
    <section>
      <Divider
        variant="section"
        sectionNumber="02"
        heading="Work"
      />
      <section>
        <Divider
          variant="subSection"
          sectionNumber="02.1"
          heading="Web dev and UI design"
        />

        <ul
          role="list"
          class="link-card-grid">
          <Card
            title="ubisend"
            body="UI/UX DESIGN & DEVELOPMENT"
            href="/work/web-ubisend"
            imgSrc={portImageUbi}
          />
          <Card
            title="Mypinpad"
            body="UI/UX DESIGN & DEVELOPMENT"
            href="/work/web-mpp"
            imgSrc={portImageMpp}
          />
          <Card
            title="TextAnywhere"
            body="UI/UX DESIGN & DEVELOPMENT"
            href="/work/web-ta"
            imgSrc={portImageTA}
          />
        </ul>
        <Link
          href="dsds"
          text="Other work"
        />
      </section>
      <section>
        <Divider
          variant="subSection"
          sectionNumber="02.1"
          heading="Graphic design"
        />
        <ul
          role="list"
          class="link-card-grid">
          <Card
            title="The Crucible"
            body="Poster design"
            href="#"
            imgSrc={portImageCru}
          />
          <Card
            title="Constellations"
            body="Poster design"
            href="#"
            imgSrc={portImageCons}
          />
          <Card
            title="Breathing Corpses"
            body="Poster design"
            href="#"
            imgSrc={portImageBc}
          />
        </ul>

        <Link
          href="dsds"
          text="Other work"
        />
      </section>
    </section>
    <Divider
      variant="section"
      sectionNumber="03"
      heading="Experince"
    />
    <section>
      <table>
        <tr><td>ubisend</td><td>UI/UX Developer</td><td>Oct 2022 -</td></tr>
        <tr
          ><td>mypinpad</td><td>UI/UX Developer</td><td
            >Nov 2020 - Oct 2022
          </td></tr
        >
        <tr
          ><td>TextAnywhere</td><td>UI/UX Developer</td><td
            >Aug 2007 - July 2020</td
          ></tr
        >
        <tr
          ><td>ODS Business Services</td><td>Multimedia Developer</td><td
            >Apr 2006 - July 2007</td
          ></tr
        >
        <tr
          ><td>Newsquest Digital Media</td><td>Web Designer</td><td
            >Nov 2004 - Apr 2006</td
          ></tr
        >
        <tr
          ><td>Business Website</td><td>Web Designer</td><td
            >Apr 2003 - Nov 2004</td
          ></tr
        >
      </table>
    </section>
  </main>
</Layout>

<style>
  ul {
    list-style-type: none;
    margin-bottom: 1rem;
  }

  li:before {
    content: "+";
    margin-right: 4px;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
    margin-bottom: 1rem;
  }

  table {
    width: 100%;
  }
  td {
    border-bottom: 1px solid black;
    vertical-align: top;
  }
  section {
    margin: 3rem 0;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
  }

  .skills-list li {
    display: flex;
    background-color: var(--primary);
    border-radius: 80px;
    color: white;
    padding: 1rem;
    margin: 1rem;
  }
</style>
