---
// Component Imports
import react from "react";
import { motion, useScroll } from "framer-motion";

import Divider from "../../components/Divider.astro";

import { Picture } from "astro:assets";

import Layout from "../../layouts/Layout.astro";

// Images
import portImageUbi from "../../images/portfolio/dev/port-web-ubi.png";
import portImageUbiComps from "../../images/portfolio/dev/port-web-ubi-comps.png";
import portImageUbiUi from "../../images/portfolio/dev/port-web-ubi-ui.png";
import portImageUbiRev from "../../images/portfolio/dev/port-web-ubi-rev.png";
import portImageUbiEmpty from "../../images/portfolio/dev/port-web-ubi-empty.png";
import portImageUbiDash from "../../images/portfolio/dev/port-web-ubi-dash.png";
---

<Layout
  title="ubisend "
  subTitle="Crafting seamless UX through user-centric design, implementing robust design systems, and core UI changes with major redesigns."
  hasHeaderImg={true}
  variant="Hori"
  headerImgSrc={portImageUbi}>
  <motion.section
    client:load
    className="section-is-large"
    initial={{ opacity: 0, x: -30 }}
    whileInView={{ opacity: 1, x: 0 }}
    viewport={{ once: true }}
    transition={{ delay: 0.5, duration: 0.5 }}>
    <div class="columns">
      <div class="column">
        <Picture
          class="box"
          src={portImageUbiComps}
          alt="Example label components of different colours"
        />
      </div>
      <div class="column content">
        <h2 class="title is-2">Design system</h2>
        <p>
          One of the first tasks I undertook as Ubsiend was to implement a Figma
          design system using their existing React components.
        </p>
        <ul>
          <li>32 reusable components with variations</li>
          <li>Typography, Colour and Icon linked libraries</li>
          <li>Advanced, usable prototypes</li>
          <li>Full developer documentation for each component</li>
        </ul>
      </div>
    </div>
  </motion.section>
  <motion.section
    client:load
    className="section-is-large"
    initial={{ opacity: 0, x: 30 }}
    whileInView={{ opacity: 1, x: 0 }}
    viewport={{ once: true }}
    transition={{ delay: 0.5, duration: 0.5 }}>
    <div class="columns reverse-columns">
      <div class="column content">
        <h2 class="title is-2">Redesign of Workflow builder</h2>
        <p>
          Another task involved a major visual and functional overhaul of the
          app's workflow builder.
        </p>
        <ul>
          <li>WCAG Accessibility</li>
          <li>Complete UI rework</li>
          <li>Refined UX flow</li>
          <li>All new onboarding</li>
          <li>New RPA builder step</li>
        </ul>
      </div>
      <div class="column">
        <Picture
          class="box"
          src={portImageUbiUi}
          alt="Workflow builder interface"
        />
      </div>
    </div>
  </motion.section>
  <motion.section
    client:load
    client:load
    className="section-is-large"
    initial={{ opacity: 0, x: 30 }}
    whileInView={{ opacity: 1, x: 0 }}
    viewport={{ once: true }}
    transition={{ delay: 0.5, duration: 0.5 }}>
    <div class="columns">
      <div class="column">
        <Picture
          class="box"
          src={portImageUbiRev}
          alt="Bot settings interface"
        />
      </div>
      <div class="column content">
        <h2 class="title is-2">Prototyping and redesign</h2>
        <p>
          Another recent project involved a complete UI/UX rework of the
          platform's main conversation bot settings section.
        </p>
        <ul>
          <li>Complete revision of the UI/UX</li>
          <li>Redevelopment of all components</li>
          <li>
            Introduction of new submenu, tab and accordion components from
            design through development
          </li>
          <li>Redesign and refactor of all existing bot settings components</li>
        </ul>
      </div>
    </div>
  </motion.section>
  <motion.section
    client:load
    client:load
    className="section-is-large"
    initial={{ opacity: 0, x: -30 }}
    whileInView={{ opacity: 1, x: 0 }}
    viewport={{ once: true }}
    transition={{ delay: 0.5, duration: 0.5 }}>
    <div class="columns reverse-columns">
      <div class="column content">
        <h2 class="title is-2">Redesign of empty state component</h2>
        <p>
          Another task involved a redeign and implementation of the empty state
          component.
        </p>
        <ul>
          <li>Creation of 23 new optimsed SVG images</li>
          <li>Responsive and custimisable for WLs</li>
        </ul>
      </div>
      <div class="column">
        <Picture
          class="box"
          src={portImageUbiEmpty}
          alt="Various empty state graphics"
        />
      </div>
    </div>
  </motion.section>
  <motion.section
    client:load
    className="section-is-large"
    initial={{ opacity: 0, x: 30 }}
    whileInView={{ opacity: 1, x: 0 }}
    viewport={{ once: true }}
    transition={{ delay: 0.5, duration: 0.5 }}>
    <div class="columns">
      <div class="column">
        <Picture
          class="box"
          src={portImageUbiDash}
          alt="Dashboard interface displaying sales data and analytics."
        />
      </div>
      <div class="column content">
        <h2 class="title is-2">Redesign and refactor</h2>
        <p>
          One of the bigger projects that I have been involved in was a complete
          redesign of the App dashboard.
        </p>
        <ul>
          <li>Complete revision of the UI/UX</li>
          <li>Fully functional prototype with new metrics workflow.</li>
          <li>Redesign of all metrics, including line and heatmap metrics.</li>
          <li>Complete UX revision of the metric creation workflow.</li>
        </ul>
      </div>
    </div>
  </motion.section>
  <section>
    <Divider
      variant="subSection"
      heading="Role and Responsibilities"
    />
    <div class="content">
      <ul>
        <li>
          Design, develop, and implement front-end solutions whislt maintaining
          current codebase using React/JS, HTML, CSS and Figma.
        </li>

        <li>Develop responsive designs for mobile and desktop applications.</li>
        <li>
          Collaborate with back-end developers to deliver end-to-end solutions.
        </li>
        <li>
          Implement and promote web standards, accessibility guidelines, and
          best practices.
        </li>
        <li>
          Work closely with cross-functional teams and stakeholders to design
          and develop products.
        </li>
        <li>Create and maintain Figma component design system.</li>

        <li>
          Use Git workflows, version control, and collaboration, ensuring
          efficient code management and team productivity.
        </li>
        <li>
          Proactively make suggestions and implement improvements to current
          UX/UI.
        </li>
        <li>Manage and maintain Storybook component library.</li>

        <li>
          Work closely with marketing by communicating changes and providing
          designs for use in collaterals.
        </li>
        <li>
          Coordinate work with product managers and stakeholders using JIRA.
        </li>

        <li>
          Responsible for participating in and contributing to the Agile
          development process, specifically working within two-week sprints.
        </li>
      </ul>
    </div>
  </section>
</Layout>

<style>
  @media screen and (max-width: 769px) {
    .reverse-columns {
      flex-direction: column-reverse;
      display: flex;
    }
  }

  section {
    margin-bottom: 6rem;
  }

  .example-container div {
    background: red;
    border-radius: 30px;
    width: 150px;
    height: 150px;
  }
</style>
