---
import { ViewTransitions } from "astro:transitions";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  subTitle: string;
  hasHeaderImg: boolean;
  variant: string;
  headerImgSrc?: ImageMetadata;
}

const { title, subTitle, hasHeaderImg, headerImgSrc, variant } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Astro description"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header
      title={title}
      subTitle={subTitle}
      hasHeaderImg={hasHeaderImg}
      headerImgSrc={headerImgSrc}
      variant={variant}
    />
    <main>
      <slot />
    </main>
    <Footer />
    <style is:global>
      :root {
        --primary: #333a3f;
        --background: #f2f2ea;
      }
      html {
        font-family: system-ui, sans-serif;
        color: var(--primary);
        background: var(--background);
        background-size: 224px;
      }

      main {
        margin: auto;
        padding: 1rem;
        width: 1248px;
        max-width: calc(100% - 2rem);

        font-size: 1.5rem;
      }

      table {
        line-height: 1.8;
      }

      .container {
        margin-bottom: 1rem;
      }
    </style>
  </body>
</html>
