---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Divider from "../../components/Divider.astro";

import portImageUbi from "../../images/portfolio/dev/port-web-ubi.png";
import portImageMpp from "../../images/portfolio/dev/port-web-mpp.png";
import portImageTA from "../../images/portfolio/dev/port-web-ta.png";

import portImageBon from "../../images/portfolio/dev/port-web-bon-voyage.jpg";
import portImageRPA from "../../images/portfolio/dev/port-web-rpa.png";
import portImageJob from "../../images/portfolio/dev/port-web-jobsite.jpg";

import portImageVue from "../../images/portfolio/dev/port-web-vue.png";
import portImageAlp from "../../images/portfolio/dev/port-web-alp.png";
import portImageLand from "../../images/portfolio/dev/port-web-land.png";

import portImageSign from "../../images/portfolio/dev/port-web-sign.png";
import portImageSoon from "../../images/portfolio/dev/port-web-soon.png";
import portImagePrice from "../../images/portfolio/dev/port-web-price.png";

import portImageCru from "../../images/portfolio/graphic/port-graphic-cru.jpg";
import portImageCons from "../../images/portfolio/graphic/port-graphic-cons.jpg";
import portImageBc from "../../images/portfolio/graphic/port-graphic-bc.jpg";
import portImageMsnd from "../../images/portfolio/graphic/port-graphic-msnd.jpg";
import portImageImpro from "../../images/portfolio/graphic/port-graphic-improv.jpg";
import portImageTlp from "../../images/portfolio/graphic/port-graphic-tlp.jpg";
---

<Layout
  title="Work Portfolio "
  subTitle="A selection of the design and development projects showcasing my skills and experience "
  hasHeaderImg={false}
  variant="vertical">
  <main>
    <section>
      <section>
        <Divider
          variant="subSection"
          sectionNumber="01.1"
          heading="Web dev and UI design"
        />

        <ul
          role="list"
          class="link-card-grid">
          <Card
            title="ubisend"
            alt="click to see"
            body="UI/UX DESIGN & DEVELOPMENT"
            href="/portfolio/dev/ubisend"
            imgSrc={portImageUbi}
          />
          <Card
            title="Mypinpad"
            alt="click to see"
            body="UI/UX DESIGN & DEVELOPMENT"
            href="/portfolio/dev/mpp"
            imgSrc={portImageMpp}
          />
          <Card
            title="TextAnywhere"
            alt="click to see"
            body="UI/UX DESIGN & DEVELOPMENT"
            href="/portfolio/dev/ta"
            imgSrc={portImageTA}
          />
          <Card
            title="Bon Voyage"
            alt="click to see"
            body="UI/UX DESIGN & DEVELOPMENT"
            href="https://adbarnes.github.io/bon-voyage/"
            imgSrc={portImageBon}
          />
          <Card
            title="Revolution Performing Arts"
            alt="click to see"
            body="UI/UX DESIGN & WORDPRESS DEVELOPMENT"
            href="https://revolutionpa.co.uk/"
            imgSrc={portImageRPA}
          />
          <Card
            title="Landing Page"
            alt="click to see"
            body="WEB DESIGN"
            href="https://adbarnes.github.io/mock-landing/"
            imgSrc={portImageLand}
          />
          <Card
            title="Vue Login Page"
            alt="click to see"
            body="WEB DESIGN "
            href="https://adbarnes.github.io/password-check/"
            imgSrc={portImageVue}
          />
          <Card
            title="Animated Landing Page"
            alt="click to see"
            body="WEB DESIGN"
            href="https://adbarnes.github.io/animated-landing-page/"
            imgSrc={portImageAlp}
          />
          <Card
            title="Jobsite"
            alt="click to see"
            body="UI/UX DESIGN"
            href="https://adbarnes.github.io/job-search-site/public/index.html"
            imgSrc={portImageJob}
          />

          <Card
            title="Sign Up Page"
            alt="click to see"
            body="WEB DESIGN"
            href="https://adbarnes.github.io/signup-form/"
            imgSrc={portImageSign}
          />
          <Card
            title="Coming Soon Page"
            alt="click to see"
            body="WEB DESIGN"
            href="https://adbarnes.github.io/coming-soon-page/"
            imgSrc={portImageSoon}
          />
          <Card
            title="Pricing Page"
            alt="click to see"
            body="WEB DESIGN"
            href="https://adbarnes.github.io/pricing-component-toggle/"
            imgSrc={portImagePrice}
          />
        </ul>
      </section>
      <section id="graphic-design">
        <Divider
          variant="subSection"
          sectionNumber="01.1"
          heading="Graphic design"
        />
        <ul
          role="list"
          class="link-card-grid">
          <Card
            title="The Crucible"
            alt="click to see"
            body="Poster design"
            href="/portfolio/graphic/cru"
            imgSrc={portImageCru}
          />
          <Card
            title="Constellations"
            alt="click to see"
            body="Poster design"
            href="/portfolio/graphic/const"
            imgSrc={portImageCons}
          />
          <Card
            title="Breathing Corpses"
            alt="click to see"
            body="Poster design"
            href="/portfolio/graphic/breath"
            imgSrc={portImageBc}
          />
          <Card
            title="A Midsummer Night's Dream"
            alt="click to see"
            body="Poster design"
            href="/portfolio/graphic/amnd"
            imgSrc={portImageMsnd}
          />
          <Card
            title="Improv Comedy"
            alt="click to see"
            body="Poster design"
            href="/portfolio/graphic/improv"
            imgSrc={portImageImpro}
          />
          <Card
            title="The Lost Presents"
            alt="click to see"
            body="Poster design"
            href="/portfolio/graphic/tlp"
            imgSrc={portImageTlp}
          />
        </ul>
      </section>
    </section>
  </main>
</Layout>

<style>
  ul {
    list-style-type: none;
    margin-bottom: 1rem;
  }

  li:before {
    content: "+";
    margin-right: 4px;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
    margin-bottom: 1rem;
  }

  table {
    width: 100%;
  }
  td {
    border-bottom: 1px solid var(--primary);
    vertical-align: top;
  }
  section {
    margin: 3rem 0;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
  }

  .skills-list li {
    display: flex;
    background-color: var(--primary);
    border-radius: 80px;
    color: white;
    padding: 1rem;
    margin: 1rem;
  }
</style>
